@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Recursive:wght@300;400;500;600&display=swap');
/* font-family: 'Lobster', cursive;
font-family: 'Recursive', sans-serif; */

body{
    font-family: 'Recursive', sans-serif !important;  
    overflow-x: hidden;
    background-color: #eee8E4 !important;
}
form label{
    font-style: italic;
    font-weight: lighter;
}


.contact-brand{
    font-family: 'Lobster', cursive !important;
    font-size: 1.5rem !important;

}

.p{
    text-align: center;
   font-size: 20px;
   font-weight: 300;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #FFCA2C !important;
}